<script>
    history.pushState("", "about:blank", "/")
</script>

<h1>支付宝捐赠途径</h1>
<br>
<img src="/ppcat/donate/3.png">
<br>

<h1>微信捐赠途径</h1>
复制网址到微信打开
<p>https://mp.weixin.qq.com/s/44yX7PxLVNnHmAJA0RT1zQ</p>
拉到最下方"喜欢作者"那里，打赏文章